.infoitem {
    margin-bottom: .5rem;
}

.container {
    margin-top: 16rem;
}

.content {
    align-items: center;
    justify-content: center;

}

body {
    background: url('BG.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.btn {
    border: solid white 1px;
    margin-top: 1rem!important;
}